@use 'vars';
@use 'item';
@use 'controls';
@use 'graph';
@use 'header';

// setup

* {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

body {
  background-color: vars.$window;
  @include vars.darkmode('background-color', 'window');
  font: 0.8rem vars.$fonts;
  color: vars.$text;
  @include vars.darkmode('color', 'text');
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

button {
  border: none;
  font-family: vars.$fonts;
  cursor: pointer;
  @include vars.transition(background-color);
}

a {
  color: vars.$text;
  @include vars.darkmode('color', 'text');
  text-decoration: none;
  @include vars.transition(color);
}

a:visited {
  color: vars.$text;
  @include vars.darkmode('color', 'text');
  text-decoration: none;
}

a:hover {
  color: vars.$text;
  @include vars.darkmode('color', 'text');
  text-decoration: none;
}

// animation helpers

.hidden {
  display: none;
}

.transparent {
  opacity: 0
}

// hiding the button label while keeping it in the a12 tree
.invisible {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  display: block;
  overflow: hidden;
}

// grid system
// setup classes

@mixin sticky {
  align-self: start;
  position: sticky;
  top: 1rem;
}

.app {
  padding: 0 1rem;
  display: grid;
  margin: auto;
  max-width: 1280px;
  row-gap: 2.5rem;
  column-gap: 2.5rem;
}

.list {
  grid-area: list;
}

.options {
  grid-area: options;
}

.graphs {
  grid-area: graphs;
}

// breakpoints and media queries:

// lg+

// sticky options & graphs at lg+ sizes
@media (min-width: 1024px) {
  .options {
    @include sticky;
  }
  .graphs {
    @include sticky;
  }    
}
// full size desktop
@media (min-width: 1280px) {
  .app {
    grid-template-rows: none;
    grid-template-columns: 16rem auto 16rem;
    grid-template-areas: "options list graphs";
  }
}
// smaller sidebars
@media (min-width: 1140px) and (max-width: 1279.999px) {
  .app {
    grid-template-rows: none;
    grid-template-columns: 14rem auto 14rem;
    grid-template-areas: "options list graphs";
    column-gap: 1.5rem !important;
  }
}
// even smaller sidebars
@media (min-width: 1024px) and (max-width: 1139.999px) {
  .app {
    grid-template-rows: none;
    grid-template-columns: 12rem auto 12rem;
    grid-template-areas: "options list graphs";
    column-gap: 1.5rem !important;
  }
}

// sm +

@media (min-width: 768px) and (max-width: 1023.999px) {
  .app {
    grid-template-rows: none;
    grid-template-columns: 16rem auto;
    grid-template-areas: "options list" "graphs list";
    grid-auto-flow: column;
    column-gap: 1.5rem !important;
  }
  .list {
    height: 1px; // see below
  }
}
// smaller sidebars
@media (min-width: 768px) and (max-width: 860px) {
  .app {
    grid-template-columns: 12rem auto;
  }
}

// default - small screen portrait

@media (max-width: 767.999px) {
  .app {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "options"
      "list"
    ;
    padding: 0 0.5rem;
    row-gap: 1.5rem;
  }
  .graphs {
    display: none;
  }
}

/* the reasoning for height 1px is to flow elements without specified height
into the first column of the grid - compare the auto and 1px heights of .list:

L {height: auto};   L {height: 1px};
|----|------|       |----|------|
| FF | LLLL |       | FF | LLLL |
| FF | LLLL |       | FF | LLLL |
|    | LLLL |       |----|-LLLL-|
|    | LLLL |       | GG | LLLL |
|    | LLLL |       | GG | LLLL |
|    | LLLL |       |----|-LLLL-|
|    | LLLL |              LLLL 
|----|------|
| GG |      |
| GG |      |
|----|------|

with 1px grid sizes are computed according _only_ to F and G
while L is overflowing (as indicated by -LLLL- going through the grid gap)
the downside is that @sticky does not work properly (as it sticks to 1px height)
but the stickiness is not desireable in this case anyway */