@use 'vars';

fieldset {
  border: none;
}

input {
  accent-color: vars.$action-primary;
  @include vars.transition(background-color);
}

.filter-settings {
  .setting {
    margin-bottom: 1.5rem;
  }
  .setting:last-child {
    margin-bottom: 0rem;
  }
  .filter-setting-label {
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 100%;
  }
  label {
    display: inline-block;
  }
}

.sorting-options {
  div {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
  }
  div:last-child {
    margin-bottom: 0;
  }
}

.filter-settings,
.sorting-options {
  @include vars.transition(opacity);
}

@media (max-width: 767.999px) {
  .sorting-options {
    div {
      margin-bottom: 0.4rem;
    }
  }
}

// always display control panes on large screen
@media (min-width: 768px) {
  .filter-settings,
  .sorting-options {
    display: block !important;
    opacity: 1 !important;
  }
}

// radio styling

input[type="radio"] {
  margin-right: 0.6rem;
  height: 0.7rem;
  width: 0.7rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 0.1rem solid vars.$item-body; // outer circle inner padding
  background-color: vars.$item-body; // unchecked (empty) dot
  box-shadow: 0 0 0 0.2rem vars.$action-primary; // outer circle thickness & color
}

input[type="radio"]:checked {
  background-color: vars.$action-primary; // checked radio dot color
}

input[type="radio"]:hover {
  box-shadow: 0 0 0 0.2rem vars.$action-primary-active; // checked radio dot color
}


// range styling

input[type="range"] {
  appearance: none;
  background: transparent;
  -webkit-appearance: none;
}

/* FIREFOX */

input[type=range]::-moz-range-thumb {
  height: 0.8rem;
  width: 0.8rem;
  border: none;
  border-radius: 100%;
  background: vars.$action-primary;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb:hover {
  background: vars.$action-primary-active;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.1rem;
  background: vars.$action-primary;
  cursor: pointer;
}

/* CHROME */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.8rem;
  width: 0.8rem;
  border: none;
  border-radius: 100%;
  background: vars.$action-primary;
  cursor: pointer;
  margin-top: -0.4rem;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.1rem;
  background: vars.$action-primary;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.1rem;
  background: vars.$action-primary;
  cursor: pointer;
}

/* CHROMIUM-EDGE */

input[type=range]::-ms-track {
  width: 100%;
  height: 0.1rem;
  background: vars.$action-primary;
  border-color: transparent;
  cursor: pointer;
}
