@use 'vars';

@mixin highlight {
  outline: vars.$action-primary solid 0.1rem;
}

.graph {
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  height: 8rem;
  div {
    cursor: pointer;
    flex-grow: 1;
  }
  div:hover {
    @include highlight();
  }
}

.highlight-bar {
  @include highlight();
}
